<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add new Student to Course</title>
    <style type = "text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding:3px 2px;
        }
        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }
        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>
<header>
    <h1>Student Enrollment - Select the Student </h1>
</header>
<section>
    <h2>Select the student to enroll:</h2>
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
    <a href='/CreateStudent' type='button'>Create New Student</a> <br/> <br/>
    </th:block>

    <form th:method="POST" th:action="@{/SearchStudent}">
        <label for="search">Search student:</label><input type="text" id="search" name="searchValue">
        <input type="submit" value="Submit">
    </form>
    <form th:method="POST" th:action="@{/StudentEnrollmentSummary}">
        <div th:each="student : ${students}">
            <input type="radio" name="size" th:value="${student.getUsername()}">
            <th:block th:text="${student.getName()}"></th:block>
            <th:block th:text="${student.getSurname()}"></th:block>
        </div>
        <input type="submit" value="Submit">
    </form>
</section>
<aside>
    <table>
        <tr>
            <th colspan="2">
                Your Enrollment Status
            </th>
        </tr>
        <tr>
            <td><b>Course Id</b></td>
            <td><th:block th:text="${course.getCourseId()}"></th:block></td>
        </tr>
    </table>
</aside>

</body>
</html>