<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>WP lab - Students in Course</title>

</head>
<body>
<header>
    <h1>Students in Course </h1>
</header>
<section>
    <div th:text = "${course.getName()}"></div>
    <ul>
        <li th:each = "grade: ${grades}">
            <th:block th:text="${grade.getStudent().getName()}+' '+
               ${grade.getStudent().getSurname()}+' (' +
                ${grade.getStudent().getUsername()} + ') '"></th:block>
            <th:block th:text="(${grade.getGrade()!=null}?${grade.getGrade()}:'')"></th:block>
            <th:block th:text="(${grade.getTimestamp()!=null}?${#temporals.format(grade.timestamp, 'dd-MM-yyyy HH:mm:ss')}:'')"></th:block>
        </li>
    </ul>
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
    <a href="/addGrade">Add Grade</a>
    </th:block>
    <a href="/courses">Back</a>
</section>

</body>
</html>